<div class="row clearfix">
  <div class="form-check">
    <%= check_box_tag grocery_item.content, nil, grocery_item.completed, data: {id: grocery_item.id}, class: 'mark_complete form-check-input' %>
    <label class="form-check-label">
      <%= grocery_item.content %>
    </label>
    <%= link_to "Delete", grocery_list_grocery_item_path(@grocery_list.id, grocery_item.id), method: :delete %>
    <%= link_to 'Edit', edit_grocery_list_grocery_item_path(@grocery_list.id, grocery_item.id) %> 
  </div>
</div>



