<div class="col-4 pl-0 mt-2 mb-2">
  <%= form_for(@grocery_list) do |f| %>
   <div class="input-group">
    <%= f.text_field :title, placeholder: "New Grocery List", class: "form-control" %>
    <div class="input-group-append">
      <%= f.submit "Add List", class: 'btn btn-outline-primary'  %>
    </div>
  </div>
  <% end %>
</div> 